.table {
    display: block;
    margin: auto;
}

.tableItem {
    display: grid;
    border-bottom: 1px solid #757575;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 0.05fr;
    grid-row-gap: 2vw;
    padding: 0 2vw;
    margin: .5rem;
}

.tableItem button {
    border: 0;
    background: repeat;
    color: rgb(235, 55, 55);
    font-weight: bold;
}

.willDeleted{
    opacity: 0.3;
}